<ion-view title="10/01/19" id="page28">
  <ion-content padding="true" class="has-header">
    <h3 id="10119-heading12" style="color:#000000;">Motivo de consulta</h3>
    <div id="10119-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="10119-heading13" style="color:#000000;">Examen físico</h3>
    <div id="10119-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="10119-heading14" style="color:#000000;">Diagnóstico</h3>
    <div id="10119-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="10119-heading15" style="color:#000000;">Tratamiento</h3>
    <div id="10119-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>