<ion-view title="19/01/18" id="page31">
  <ion-content padding="true" class="has-header">
    <h3 id="19118-heading16" style="color:#000000;">Motivo de consulta</h3>
    <div id="19118-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="19118-heading17" style="color:#000000;">Examen físico</h3>
    <div id="19118-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="19118-heading18" style="color:#000000;">Diagnóstico</h3>
    <div id="19118-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="19118-heading19" style="color:#000000;">Tratamiento</h3>
    <div id="19118-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>