<ion-view title="02/11/17" id="page32">
  <ion-content padding="true" class="has-header">
    <h3 id="21117-heading20" style="color:#000000;">Motivo de consulta</h3>
    <div id="21117-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="21117-heading21" style="color:#000000;">Examen físico</h3>
    <div id="21117-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="21117-heading22" style="color:#000000;">Diagnóstico</h3>
    <div id="21117-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="21117-heading23" style="color:#000000;">Tratamiento</h3>
    <div id="21117-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>