<ion-view title="Abdominales y gastrointestinales" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="abdominalesYGastrointestinales-form11" class="list">
      <div id="abdominalesYGastrointestinales-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="abdominalesYGastrointestinales-card21"></div>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox4">Acidez</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox5">Anorexia</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox8">Atoramiento</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox11">Cólicos menstruales</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox13">Deshidratación</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox9">Dolor abdominal localizado</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox3">Eructos</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox1">Flatulencias</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox6">Hemorroides</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox14">Ingesta de sedativos</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox12">Lesión(es) abdominales</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox2">Náuseas</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox15">Trauma abdominal (sangrado)</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox7">Sangrado en deposiciones</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox10">Vómito</ion-checkbox>
      <ion-checkbox id="abdominalesYGastrointestinales-checkbox196">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="abdominalesYGastrointestinales-button26" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>