<ion-view title="Ayuda" id="page26">
  <ion-content padding="true" class="has-header">
    <div id="ayuda-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="tabsController.triage1()" id="ayuda-button38" class="button button-balanced button-block icon-left ion-ios-home-outline">Inicio</a>
  </ion-content>
</ion-view>