<ion-view title="Cardiovasculares" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="cardiovasculares-form13" class="list">
      <div id="cardiovasculares-markdown4" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="cardiovasculares-card22"></div>
      <ion-checkbox id="cardiovasculares-checkbox30">Bradicardia</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox27">Desmayos</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox20">Dificultad respiratoria</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox18">Dolor torácico</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox28">Lesión(es) en el torax</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox32">Lesión en vaso sanguíneo</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox21">Hinchazón en las extremidades</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox17">Hipertensión</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox24">Hipotensión</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox19">Palpitaciones</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox23">Paro cardiaco</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox22">Piel pálida y fría</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox26">Pulso irregular</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox29">Quemadura eléctrica</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox25">Sobredosis intravenosa</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox31">Taquicardia</ion-checkbox>
      <ion-checkbox id="cardiovasculares-checkbox197">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="cardiovasculares-button28" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>