<ion-view title="Crear cuenta" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="crearCuenta-form1" class="list">
      <h3 id="crearCuenta-heading1" style="color:#000000;font-weight:400;">Datos de identificación</h3>
      <ion-list id="crearCuenta-list1">
        <label class="item item-input item-floating-label" id="crearCuenta-input1">
          <input type="text" placeholder="Nombres">
        </label>
        <label class="item item-input item-floating-label" id="crearCuenta-input7">
          <input type="text" placeholder="Apellidos">
        </label>
        <label class="item item-input item-floating-label" id="crearCuenta-input2">
          <input type="number" placeholder="Número de identificación">
        </label>
        <label class="item item-input item-floating-label" id="crearCuenta-input12">
          <input type="email" placeholder="Correo ">
        </label>
        <label class="item item-input item-floating-label" id="crearCuenta-input25">
          <input type="password" placeholder="Contraseña">
        </label>
        <label class="item item-input item-floating-label" id="crearCuenta-input26">
          <input type="password" placeholder="Repetir contraseña">
        </label>
        <label class="item item-select" id="crearCuenta-select1">
          <span class="input-label">Género</span>
          <select>
            <option>Femenino</option>
            <option>Masculino</option>
          </select>
        </label>
        <label class="item item-input" id="crearCuenta-input8">
          <span class="input-label">Nacimiento</span>
          <input type="date" placeholder="Fecha">
        </label>
      </ion-list>
    </form>
    <h3 id="crearCuenta-heading2" style="color:#000000;font-weight:400;">Datos personales</h3>
    <form id="crearCuenta-form6" class="list">
      <label class="item item-select" id="crearCuenta-select2">
        <span class="input-label">Estado civil</span>
        <select>
          <option>Soltero/a</option>
          <option>Casado/a</option>
          <option>Unión marital de hecho</option>
        </select>
      </label>
      <label class="item item-input item-floating-label" id="crearCuenta-input16">
        <input type="text" placeholder="Empresa de Salud">
      </label>
      <label class="item item-input item-floating-label" id="crearCuenta-input14">
        <input type="text" placeholder="Lugar de nacimiento">
      </label>
      <label class="item item-input item-floating-label" id="crearCuenta-input17">
        <input type="text" placeholder="Dirección">
      </label>
      <label class="item item-input item-floating-label" id="crearCuenta-input20">
        <input type="text" placeholder="Con quién vive">
      </label>
      <label class="item item-input item-floating-label" id="crearCuenta-input19">
        <input type="number" placeholder="Teléfono celular">
      </label>
      <label class="item item-select" id="crearCuenta-select3">
        <span class="input-label">Escolaridad</span>
        <select>
          <option>Ninguna</option>
          <option>Primaria</option>
          <option>Secundaria</option>
          <option>Técnica/Tecnológica</option>
          <option>Universitaria</option>
          <option>Posgrado</option>
        </select>
      </label>
      <label class="item item-input item-floating-label" id="crearCuenta-input22">
        <input type="text" placeholder="Ocupación">
      </label>
      <label class="item item-input item-floating-label" id="crearCuenta-input21">
        <input type="text" placeholder="Religión">
      </label>
    </form>
    <a ui-sref="login()" id="crearCuenta-button1" style="color:#FFFFFF;" class="button button-balanced button-block">Registrate</a>
  </ion-content>
</ion-view>