<ion-view title="Embarazo" id="page23">
  <ion-content padding="true" class="has-header">
    <h3 id="embarazo-heading11" style="color:#000000;">Se encuentra embarazada:</h3>
    <ion-list id="embarazo-list13">
      <ion-item id="embarazo-list-item15" ui-sref="tabsController.pacienteEmbarazada()">Sí</ion-item>
      <ion-item id="embarazo-list-item20" ui-sref="tabsController.pacienteNoEmbarazada()">No</ion-item>
    </ion-list>
  </ion-content>
</ion-view>