<ion-view title="Genital y sistema reproductor" id="page19">
  <ion-content padding="true" class="has-header">
    <h3 id="genitalYSistemaReproductor-heading10" style="color:#000000;">Género:</h3>
    <ion-list id="genitalYSistemaReproductor-list12">
      <ion-item class="item-icon-left" id="genitalYSistemaReproductor-list-item13" ui-sref="tabsController.genitalMasculino()">
        <i class="icon ion-male"></i>Masculino</ion-item>
      <ion-item class="item-icon-left" id="genitalYSistemaReproductor-list-item14" ui-sref="tabsController.embarazo()">
        <i class="icon ion-female"></i>Femenino</ion-item>
    </ion-list>
  </ion-content>
</ion-view>