<ion-view title="Genital Masculino" id="page20">
  <ion-content padding="true" class="has-header">
    <form id="genitalMasculino-form18" class="list">
      <div id="genitalMasculino-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="genitalMasculino-card28"></div>
      <ion-checkbox id="genitalMasculino-checkbox101">Abuso sexual</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox103">Cuerpo extraño</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox104">Dolor de varias horas </ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox105">Dolor de poco tiempo</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox106">Dolor e inflamación escroto</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox107">Trauna en el torax</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox108">Dolor testicular leve</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox109">Dolor testicular moderado</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox110">Dolor testicular severo</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox111">Erección dolorosa y continua</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox112">Fiebre</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox113">Hinchazón testicular</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox114">Hinchazón del pene</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox116">Impotencia</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox102">Lesión pene</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox117">Manchas blancas en escroto</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox118">Masa en testículo</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox119">Picazón</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox120">Pus</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox141">Sensación de masa</ion-checkbox>
      <ion-checkbox id="genitalMasculino-checkbox201">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="genitalMasculino-button33" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>