<ion-view title="Login" hide-nav-bar="true" id="page6" style="background-color:#084887;">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Jdac6ShVRgeOnCKWvLqv_Capturadepantalla2019-04-03alas1.56.44a.m..png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <h4 id="login-heading6" style="color:#FFFFFF;font-weight:400;">Ingresa tus datos</h4>
    <form id="login-form7" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input9">
          <span class="input-label">Número de identificación</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="login-input10">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.triage1()" id="login-button2" class="button button-balanced button-block">Iniciar sesión</a>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <a ui-sref="olvidasteTuContraseA()" id="login-button13" class="button button-light button-block button-clear">¿Olvidaste tu contraseña?</a>
      <a ui-sref="crearCuenta()" id="login-button3" class="button button-positive button-block">Crear cuenta</a>
    </form>
  </ion-content>
</ion-view>