<ion-view title="Modificar cuenta" id="page10">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.triage1()" id="modificarCuenta-button16" class="button button-balanced button-block icon-left ion-ios-home-outline">Inicio</a>
    <form id="modificarCuenta-form9" class="list">
      <h3 id="modificarCuenta-heading8" style="color:#000000;font-weight:400;">Datos de identificación</h3>
      <ion-list id="modificarCuenta-list11">
        <label class="item item-input item-floating-label" id="modificarCuenta-input11">
          <input type="text" placeholder="Nombres">
        </label>
        <label class="item item-input item-floating-label" id="modificarCuenta-input13">
          <input type="text" placeholder="Apellidos">
        </label>
        <label class="item item-input item-floating-label" id="modificarCuenta-input15">
          <input type="number" placeholder="Número de identificación">
        </label>
        <label class="item item-input item-floating-label" id="modificarCuenta-input18">
          <input type="email" placeholder="Correo ">
        </label>
        <label class="item item-input item-floating-label" id="modificarCuenta-input23">
          <input type="password" placeholder="Contraseña">
        </label>
        <label class="item item-input item-floating-label" id="modificarCuenta-input24">
          <input type="password" placeholder="Repetir contraseña">
        </label>
        <label class="item item-select" id="modificarCuenta-select4">
          <span class="input-label">Género</span>
          <select>
            <option>Femenino</option>
            <option>Masculino</option>
          </select>
        </label>
        <label class="item item-input" id="modificarCuenta-input27">
          <span class="input-label">Nacimiento</span>
          <input type="date" placeholder="Fecha">
        </label>
      </ion-list>
    </form>
    <h3 id="modificarCuenta-heading9" style="color:#000000;font-weight:400;">Datos personales</h3>
    <form id="modificarCuenta-form10" class="list">
      <label class="item item-select" id="modificarCuenta-select5">
        <span class="input-label">Estado civil</span>
        <select>
          <option>Soltero/a</option>
          <option>Casado/a</option>
          <option>Unión marital de hecho</option>
        </select>
      </label>
      <label class="item item-input item-floating-label" id="modificarCuenta-input28">
        <input type="text" placeholder="Empresa de Salud">
      </label>
      <label class="item item-input item-floating-label" id="modificarCuenta-input29">
        <input type="text" placeholder="Lugar de nacimiento">
      </label>
      <label class="item item-input item-floating-label" id="modificarCuenta-input30">
        <input type="text" placeholder="Dirección">
      </label>
      <label class="item item-input item-floating-label" id="modificarCuenta-input31">
        <input type="text" placeholder="Con quién vive">
      </label>
      <label class="item item-input item-floating-label" id="modificarCuenta-input32">
        <input type="number" placeholder="Teléfono celular">
      </label>
      <label class="item item-select" id="modificarCuenta-select6">
        <span class="input-label">Escolaridad</span>
        <select>
          <option>Ninguna</option>
          <option>Primaria</option>
          <option>Secundaria</option>
          <option>Técnica/Tecnológica</option>
          <option>Universitaria</option>
          <option>Posgrado</option>
        </select>
      </label>
      <label class="item item-input item-floating-label" id="modificarCuenta-input33">
        <input type="text" placeholder="Ocupación">
      </label>
      <label class="item item-input item-floating-label" id="modificarCuenta-input34">
        <input type="text" placeholder="Religión">
      </label>
    </form>
    <a ui-sref="tabsController.triage1()" id="modificarCuenta-button12" style="color:#FFFFFF;" class="button button-balanced button-block">Guardar</a>
  </ion-content>
</ion-view>