<ion-view title="Musculoesquelético" id="page24">
  <ion-content padding="true" class="has-header">
    <form id="musculoesquelTico-form21" class="list">
      <div id="musculoesquelTico-markdown12" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="musculoesquelTico-card211"></div>
      <ion-checkbox id="musculoesquelTico-checkbox168">Amputación traumática</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox169">Aplastamiento</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox170">Compromiso neurovascular</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox171">Deformación</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox172">Dolor agudo</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox173">Dolor articular</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox174">Dolor crónico</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox175">Dolor intenso</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox176">Dolor lumbar</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox177">Dolor miembros inferiores</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox178">Dolor miembros superiores</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox179">Dolor muscular</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox180">Dolor tolerable</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox181">Espasmo muscular</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox182">Fractura abierta</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox183">Fractura cerrada</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox184">Fractura huesos largos</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox185">Fracturas múltiples</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox186">Inflamación</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox187">Lesiones punta dedo</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox188">Limitación funcional</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox189">Limitación movimiento</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox190">Luxación (hombro, cadera)</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox191">Paciente hemolítico</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox192">Sangrado abundante</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox193">Sensación hormigueo</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox194">Trauma cadera</ion-checkbox>
      <ion-checkbox id="musculoesquelTico-checkbox195">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="musculoesquelTico-button36" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>