<ion-view title="Nariz, Boca y Garganta" id="page18">
  <ion-content padding="true" class="has-header">
    <form id="narizBocaYGarganta-form17" class="list">
      <div id="narizBocaYGarganta-markdown8" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="narizBocaYGarganta-card27"></div>
      <ion-checkbox id="narizBocaYGarganta-checkbox85">Alteración voz</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox86">Amputación lengua</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox87">Cefalea</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox88">Congestión nasal</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox89">Cuerpo extraño faringe</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox90">Cuerpo extraño nariz</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox91">Dificultad respiratoria</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox92">Dificultad tragar</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox93">Dolor agudo</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox94">Dolor al tragar</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox95">Dolor crónico</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox96">Manchas grises o negras en la visión</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox97">Dolor leve</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox98">Dolor insoportable</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox99">Excesiva saliva</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox100">Fiebre</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox204">Fractura diente</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox205">Herida mejilla</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox206">Herida paladar</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox207">Hipertensión</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox208">Lesiones orales</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox209">Obstrucción aérea o riesgo</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox210">Quemadura laringe</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox211">Sangrado abundante</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox212">Sangrado continuo</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox213">Sangrado intermitente</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox214">Sangrado nasal</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox215">Sangrado posquirúrgico</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox216">Secreción nasal</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox217">Silbido al inhalar</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox218">Trastorno coagulación</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox221">Trauma cráneo</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox219">Trauma facial</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox220">Trauma laringe</ion-checkbox>
      <ion-checkbox id="narizBocaYGarganta-checkbox222">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="narizBocaYGarganta-button32" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>