<ion-view title="Neurológicos" id="page29">
  <ion-content padding="true" class="has-header">
    <form id="neurolGicos-form22" class="list">
      <div id="neurolGicos-markdown27" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="neurolGicos-card212"></div>
      <ion-checkbox id="neurolGicos-checkbox237">Coma</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox228">Confusión</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox240">Convulsión continua</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox232">Episodio de convulsión</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox231">Episodio epiléptico</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox230">Fiebre</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox233">Disminusión de función motora</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox227">Disminusión en la sensibilidad</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox115">Dolor de cabeza crónico</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox223">Dolor en extremidades</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox224">Hormigueo en extremidades</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox236">No hay respuesta al dolor</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox239">Pérdida del estado de conciencia</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox235">Letargia</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox225">Trauma de cráneo</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox234">Trauma en columna</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox226">Vértigo</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox229">Vómito</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox238">Otro</ion-checkbox>
      <div class="list card" id="neurolGicos-card214"></div>
      <div id="neurolGicos-markdown31" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor indique si tiene alguno de los siguientes antecedentes</p>
      </div>
      <div class="list card" id="neurolGicos-card213"></div>
      <ion-checkbox id="neurolGicos-checkbox241">Síncope</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox242">Lipotimia</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox243">Convulsiones</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox244">Trauma con pérdida de conciencia</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox245">Migraña</ion-checkbox>
      <ion-checkbox id="neurolGicos-checkbox246">Hemofilia</ion-checkbox>
      <div class="list card" id="neurolGicos-card215"></div>
      <a ui-sref="tabsController.turno()" id="neurolGicos-button39" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>