<ion-view title="Oído" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="oDo-form15" class="list">
      <div id="oDo-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="oDo-card25"></div>
      <ion-checkbox id="oDo-checkbox53">Amputación de la oreja</ion-checkbox>
      <ion-checkbox id="oDo-checkbox62">Dolor de oído</ion-checkbox>
      <ion-checkbox id="oDo-checkbox63">Fiebre</ion-checkbox>
      <ion-checkbox id="oDo-checkbox60">Hipotensión</ion-checkbox>
      <ion-checkbox id="oDo-checkbox59">Objeto en el oído</ion-checkbox>
      <ion-checkbox id="oDo-checkbox64">Pus</ion-checkbox>
      <ion-checkbox id="oDo-checkbox61"> Sangrado</ion-checkbox>
      <ion-checkbox id="oDo-checkbox54">Sangrado luego de accidente</ion-checkbox>
      <ion-checkbox id="oDo-checkbox55">Sordera luego de accidente</ion-checkbox>
      <ion-checkbox id="oDo-checkbox56">Sordera súbita</ion-checkbox>
      <ion-checkbox id="oDo-checkbox65">Sordera progresiva</ion-checkbox>
      <ion-checkbox id="oDo-checkbox58">Vértigo</ion-checkbox>
      <ion-checkbox id="oDo-checkbox57">Zumbido oídos </ion-checkbox>
      <ion-checkbox id="oDo-checkbox198">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="oDo-button30" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>