<ion-view title="Ojos" id="page17">
  <ion-content padding="true" class="has-header">
    <form id="ojos-form16" class="list">
      <div id="ojos-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="ojos-card26"></div>
      <ion-checkbox id="ojos-checkbox69">Accidente con ácido o álcalis</ion-checkbox>
      <ion-checkbox id="ojos-checkbox79">Ardor ocular</ion-checkbox>
      <ion-checkbox id="ojos-checkbox73">Dolor ocular</ion-checkbox>
      <ion-checkbox id="ojos-checkbox81">Hinchazón alrededor del ojo</ion-checkbox>
      <ion-checkbox id="ojos-checkbox77">Inflamación o cuerpo extraño</ion-checkbox>
      <ion-checkbox id="ojos-checkbox83">Lagrimeo</ion-checkbox>
      <ion-checkbox id="ojos-checkbox71">Lesión que atraviesa el ojo</ion-checkbox>
      <ion-checkbox id="ojos-checkbox80">Manchas grises o negras en la visión</ion-checkbox>
      <ion-checkbox id="ojos-checkbox70">Pérdida súbita visión</ion-checkbox>
      <ion-checkbox id="ojos-checkbox84">Picazón</ion-checkbox>
      <ion-checkbox id="ojos-checkbox82">Pus</ion-checkbox>
      <ion-checkbox id="ojos-checkbox75">Sangrado subconjuntival</ion-checkbox>
      <div>
        <img src="img/7zAGhxwQqCXbYqAkCtfw_hiposfagma.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-checkbox id="ojos-checkbox74">Sangrado por dentro del ojo</ion-checkbox>
      <div>
        <img src="img/wXPlSnImT0ipgTMQ13ft_hifema.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-checkbox id="ojos-checkbox72">Visión borrosa progresiva</ion-checkbox>
      <ion-checkbox id="ojos-checkbox78">Visión de luces o destellos</ion-checkbox>
      <ion-checkbox id="ojos-checkbox76">Visión doble</ion-checkbox>
      <ion-checkbox id="ojos-checkbox199">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="ojos-button31" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>