<ion-view title="Olvidaste tu contraseña" id="page13">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="olvidasteTuContraseA-form12" class="list">
      <label class="item item-input" id="olvidasteTuContraseA-input35">
        <span class="input-label">Ingresa tu correo:</span>
        <input type="email" placeholder="">
      </label>
    </form>
    <a ui-sref="login()" id="olvidasteTuContraseA-button27" class="button button-positive button-block">Enviar contraseña</a>
  </ion-content>
</ion-view>