<ion-view title="Otros" id="page35">
  <ion-content padding="true" class="has-header">
    <form id="otros-form26" class="list">
      <div id="otros-markdown32" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="otros-card219"></div>
      <ion-checkbox id="otros-checkbox331">Calor extremo</ion-checkbox>
      <ion-checkbox id="otros-checkbox335">Diabetes descompensada</ion-checkbox>
      <ion-checkbox id="otros-checkbox337">Deshidratación</ion-checkbox>
      <ion-checkbox id="otros-checkbox326">Espasmo muscular fuerte</ion-checkbox>
      <ion-checkbox id="otros-checkbox333">Excesiva orina</ion-checkbox>
      <ion-checkbox id="otros-checkbox332">Excesiva sudoración</ion-checkbox>
      <ion-checkbox id="otros-checkbox329">Hambre extrema</ion-checkbox>
      <ion-checkbox id="otros-checkbox341">Hiperglicemia</ion-checkbox>
      <ion-checkbox id="otros-checkbox340">Hipoglicemia</ion-checkbox>
      <ion-checkbox id="otros-checkbox339">Hipotermia</ion-checkbox>
      <ion-checkbox id="otros-checkbox327">Intolerancia a frio/calor</ion-checkbox>
      <ion-checkbox id="otros-checkbox330">Obesidad</ion-checkbox>
      <ion-checkbox id="otros-checkbox338">Respiración profunda/forzada</ion-checkbox>
      <ion-checkbox id="otros-checkbox328">Pérdida de peso</ion-checkbox>
      <ion-checkbox id="otros-checkbox334">Sed extrema</ion-checkbox>
      <ion-checkbox id="otros-checkbox336">Temblores</ion-checkbox>
      <ion-checkbox id="otros-checkbox358">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="otros-button43" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>