<ion-view title="Paciente embarazada" id="page21">
  <ion-content padding="true" class="has-header">
    <form id="pacienteEmbarazada-form19" class="list">
      <div id="pacienteEmbarazada-markdown10" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="pacienteEmbarazada-card29"></div>
      <ion-checkbox id="pacienteEmbarazada-checkbox121">Abuso sexual menos de 72h</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox122">Abuso sexual más de 72h</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox123">Convulsiones en embarazo</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox125">Dolor durante relaciones</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox126">Dolor senos con lactancia</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox127">Derrame líquido amniótico</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox128">Determinar embarazo</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox130">Fiebre</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox129">Hipertensión arterial</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox131">Infección poscirugía</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox124">Menores movimientos fetales</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox132">Oleadas calor</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox133">Parto en curso</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox134">Picazón vaginal</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox135">Respiración asimétrica</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox136">Prolapso genital</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox137">Sangrado vaginal severo</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox138">Síntomas urinarios</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox139">Shock</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox140">Trauma</ion-checkbox>
      <ion-checkbox id="pacienteEmbarazada-checkbox202">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="pacienteEmbarazada-button34" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>