<ion-view title="Paciente  no embarazada" id="page22">
  <ion-content padding="true" class="has-header">
    <form id="pacienteNoEmbarazada-form20" class="list">
      <div id="pacienteNoEmbarazada-markdown11" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="pacienteNoEmbarazada-card210"></div>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox142">Abuso sexual menor de 72h</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox143">Abuso sexual más de 72h</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox144">Ausencia menstruación</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox145">Calambres durante menstruación</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox146">Ciclo menstrual irregular</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox147">Cuerpo extraño en vagina</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox148">Determinar embarazo</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox149">Disfunción sexual</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox150">Dolor abdominal posquirúrgico</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox151">Dolor abdominal severo</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox152">Dolor de senos</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox153">Dolor durante relaciones</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox154">Dolor pélvico con menstruación</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox155">Dolor que pasa al hombro</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox156">Fiebre</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox157">Flujo vaginal</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox158">Infertilidad</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox159">Oleadas calor</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox160">Picazón vaginal</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox161">Prolapso genital</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox162">Prolapso genital</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox163">Retraso menstrual</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox164">Sangrado posparto/aborto</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox165">Sangrado severo pos trauma</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox166">Sangrado vaginal abundante</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox167">Trauma en genitales externos</ion-checkbox>
      <ion-checkbox id="pacienteNoEmbarazada-checkbox203">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="pacienteNoEmbarazada-button35" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>