<ion-view title="Piel y Anexos" id="page34">
  <ion-content padding="true" class="has-header">
    <form id="pielYAnexos-form25" class="list">
      <div id="pielYAnexos-markdown30" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="pielYAnexos-card218"></div>
      <ion-checkbox id="pielYAnexos-checkbox307">Brotes</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox320">Celulitis</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox322">Descamación</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox300">Deshidratación general</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox293">Dificultad para respirar</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox314">Dolor de huesos/músculos</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox316">Fatiga</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox317">Fiebre</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox305">Hemorragia/abundante sangre</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox304">Herida abierta</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox319">Heridas infectada</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox318">Heridas menores</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox306">Hipotermia</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox313">Lesión por frio</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox308">Manchas rojas en la piel</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox298">Mordedura/picadura</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox311">Mordedura de perro lavada</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox310">Mordedura de perro no lavada</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox309">Mordedura de serpiente/araña</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox297">Palidez de zonas de la piel</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox312">Piel azul</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox324">Piel reseca</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox323">Picazón</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox295">Quemadura (+50% del cuerpo)</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox296">Quemadura de boca/garganta</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox301">Quemadura de cara/cuello</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox303">Quemadura de genitales</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox302">Quemadura de manos/pies</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox321">Quemadura por sol</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox294">Quemadura simple</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox292">Reacción alérgica</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox325">Sudoración excesiva</ion-checkbox>
      <ion-checkbox id="pielYAnexos-checkbox315">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="pielYAnexos-button42" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>