<ion-view title="Psiquiátricos" id="page33">
  <ion-content padding="true" class="has-header">
    <form id="psiquiTricos-form24" class="list">
      <div id="psiquiTricos-markdown29" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Para esta sección se requiere que un familiar o amigo llene este formulario.</p>

        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="psiquiTricos-card217"></div>
      <ion-checkbox id="psiquiTricos-checkbox289">Abuso de sustancias</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox273">Agitación</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox271">Agresividad</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox275">Alucinaciones</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox287">Anorexia o bulimia</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox285">Ansiedad</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox269">Comportamiento de amenaza</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox274">Confusión</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox278">Crisis situacional</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox290">Crisis social</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox282">Depresión</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox268">Desorden comportamental</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox277">Idea de suicidio</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox288">Insomnio</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox276">Intento de suicidio</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox279">Introversión</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox291">Paciente clínicamente estable</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox284">Paciente quiere ir a urgencias</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox280">Problemas mentales</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox272">Requiere restricción física</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox286">Sintomatología crónica</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox281">Riesgo para sí mismo u otros</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox270">Violencia</ion-checkbox>
      <ion-checkbox id="psiquiTricos-checkbox283">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="psiquiTricos-button41" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>