<ion-view title="Respiratorios" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="respiratorios-form14" class="list">
      <div id="respiratorios-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="respiratorios-card24"></div>
      <ion-checkbox id="respiratorios-checkbox43">Aspiración de cuerpo extraño</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox34">Congestión nasal</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox36">Dificultad respiratoria</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox37">Disfonía</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox40">Dolor torácico</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox42">Fiebre</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox49">Frecuencia respiratoria muy baja</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox46">Inhalación de sustancias químicas</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox44">Lesión(es) en el torax</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox50">Lesiones en vías aéreas</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox35">Malestar general</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox52">Obstrucciones en vías aéreas</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox48">Paro respiratorio</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox51">Quemaduras en vías aéreas</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox47">Respiración asimétrica</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox39">Trauma en el torax</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox41">Tos con mucosa</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox38">Tos crónica</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox33">Tos seca</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox45">Tos con sangre</ion-checkbox>
      <ion-checkbox id="respiratorios-checkbox200">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="respiratorios-button29" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>