<ion-view title="Triage 1" id="page7">
  <ion-content padding="true" class="has-header">
    <h4 id="triage1-heading3" style="color:#000000;">Por favor indique el tipo de sintoma que presenta</h4>
    <a ui-sref="tabsController.abdominalesYGastrointestinales()" id="triage1-button4" style="color:#F6F7FB;" class="button button-balanced button-block">Abdominales / Gastrointestinales</a>
    <a ui-sref="tabsController.cardiovasculares()" id="triage1-button7" class="button button-balanced button-block">Cardiovasculares</a>
    <a ui-sref="tabsController.respiratorios()" id="triage1-button8" class="button button-balanced button-block">Respiratorios</a>
    <a ui-sref="tabsController.neurolGicos()" id="triage1-button10" class="button button-balanced button-block">Neurológicos </a>
    <a ui-sref="tabsController.musculoesquelTico()" id="triage1-button5" class="button button-balanced button-block">Musculoesqueléticos</a>
    <a ui-sref="tabsController.ojos()" id="triage1-button9" class="button button-balanced button-block">Ojos</a>
    <a ui-sref="tabsController.oDo()" id="triage1-button19" class="button button-balanced button-block">Oído</a>
    <a ui-sref="tabsController.narizBocaYGarganta()" id="triage1-button20" class="button button-balanced button-block">Nariz, boca y garganta</a>
    <a ui-sref="tabsController.genitalYSistemaReproductor()" id="triage1-button21" class="button button-balanced button-block">Genitales y sistema reproductor</a>
    <a ui-sref="tabsController.urinarios()" id="triage1-button22" class="button button-balanced button-block">Urinarios</a>
    <a ui-sref="tabsController.psiquiTricos()" id="triage1-button23" class="button button-balanced button-block">Psiquiátricos</a>
    <a ui-sref="tabsController.pielYAnexos()" id="triage1-button24" class="button button-balanced button-block">Piel y anexos</a>
    <a ui-sref="tabsController.otros()" id="triage1-button25" class="button button-balanced button-block">Otros</a>
  </ion-content>
</ion-view>