<ion-view title="Turno" id="page9">
  <ion-content padding="true" class="has-header">
    <h4 id="turno-heading4" style="color:#000000;">Triage asignado:</h4>
    <ion-list id="turno-list4">
      <ion-item class="item-icon-left" id="turno-list-item10">
        <i class="icon ion-ios-medical-outline"></i>Prioridad II Emergencia</ion-item>
    </ion-list>
    <h4 id="turno-heading7" style="color:#000000;">Turno:</h4>
    <div class="list card" id="turno-card23">
      <ion-item class="item-icon-left" id="turno-list-item9">
        <i class="icon ion-ios-information-outline"></i>006</ion-item>
    </div>
    <h4 id="turno-heading5" style="color:#000000;">Tiempo aproximado de espera:</h4>
    <ion-list id="turno-list3">
      <ion-item class="item-icon-left" id="turno-list-item11">
        <i class="icon ion-clock"></i>15 minutos</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div>
      <img src="img/Qit8TJdRSenarLrb97rC_Capturadepantalla2019-04-03alas5.12.56p.m..png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>