<ion-view title="Urgencias pasadas" id="page27">
  <ion-content padding="true" class="has-header">
    <ion-list id="urgenciasPasadas-list14">
      <ion-item id="urgenciasPasadas-list-item24" ui-sref="10119()">10/01/19</ion-item>
      <ion-item id="urgenciasPasadas-list-item25" ui-sref="19118()">19/09/18</ion-item>
      <ion-item id="urgenciasPasadas-list-item26" ui-sref="21117()">02/11/17</ion-item>
    </ion-list>
    <a ui-sref="tabsController.triage1()" id="urgenciasPasadas-button11" class="button button-balanced button-block icon-left ion-ios-home-outline">Inicio</a>
  </ion-content>
</ion-view>