<ion-view title="Urinarios" id="page30">
  <ion-content padding="true" class="has-header">
    <form id="urinarios-form23" class="list">
      <div id="urinarios-markdown28" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor idique los sintomas presentados. </p>
      </div>
      <div class="list card" id="urinarios-card216"></div>
      <ion-checkbox id="urinarios-checkbox255">Constante necesidad de orinar</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox259">Cuerpo extraño/canal excretor</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox254">Dolor al orinar</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox247">Dolor en dorso (espalda alta)</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox253">Dolor en espalda media</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox258">Escalofrío</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox256">Fiebre</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox248">Hematuria (sangre roja)</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox250">Imposibilidad para orinar</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox261">Incontinencia</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox260">Orina muy abundante</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox252">Poco flujo urinario</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox262">Pus en la orina (viscosa)</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox249">Trauma de pelvis (accidente)</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox257">Vómito</ion-checkbox>
      <ion-checkbox id="urinarios-checkbox267">Otro</ion-checkbox>
      <a ui-sref="tabsController.turno()" id="urinarios-button40" class="button button-positive button-block">Enviar síntomas</a>
    </form>
  </ion-content>
</ion-view>