<ion-view title="Varios" id="page11">
  <ion-content padding="false" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="varios-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="varios-slide24" style="background:url(&quot;img/tIV6Dwa2RgSA3Ggi68iy_apps-de-noticias-head-1500x1000.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="width: 320px; height: 360px;"></div>
        <a href-inappbrowser="https://espanol.medscape.com/index/list_10585_0" id="varios-button18" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-block icon-right ion-android-arrow-forward">Noticias</a>
      </ion-slide-page>
      <ion-slide-page id="varios-slide25" style="background:url(&quot;img/EExl7SI5RPWchd9loaRc_hacer-sudokus-61513_1_780x462.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="width: 320px; height: 360px;"></div>
        <a href-inappbrowser="http://www.sudokumania.com.ar/juegos/sudoku" id="varios-button17" class="button button-balanced button-block icon-right ion-android-arrow-forward">Sudoku</a>
      </ion-slide-page>
      <ion-slide-page id="varios-slide26" style="background:url(&quot;img/pZ3GFkmeTRCE1bNDlodQ_1200px-Origami-crane.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="width: 320px; height: 360px;"></div>
        <a href-inappbrowser="https://www.youtube.com/playlist?list=PLDLHycejlK5q8gW-mgQYljCK0wmv-AwKH" id="varios-button14" class="button button-balanced button-block icon-right ion-android-arrow-forward">Origami</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>